<button mat-mini-fab color="primary" aria-label="Home" routerLink="/home" routerLinkActive="active">
    <mat-icon>home</mat-icon>
    <div class="tooltip">Home</div>
</button>

<button mat-mini-fab color="primary" aria-label="About Me" routerLink="/about-me" routerLinkActive="active">
    <mat-icon>person</mat-icon>
    <div class="tooltip">About Me</div>
</button>

<button mat-mini-fab color="primary" aria-label="Resume" routerLink="/resume" routerLinkActive="active">
    <mat-icon>work</mat-icon>
    <div class="tooltip">Resume</div>
</button>

<button mat-mini-fab color="primary" aria-label="Portfolio" routerLink="/portfolio" routerLinkActive="active">
    <mat-icon>ballot</mat-icon>
    <div class="tooltip">Portfolio</div>
</button>
