.categories-row {
  margin-top: 10px;

  .category-link {
    text-decoration: none;
    cursor: pointer;
    margin-right: 15px;
    color: var(--text-color);
    font-weight: 300;

    &:hover {
      font-weight: normal;
    }

    &.active {
      color: var(--primary-color);
      font-weight: bold;
    }
  }
}

.portfolio-items-container {
  .portfolio-item {
    margin-top: 30px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0 10px;
    
    img {
      border: #ddd 1px solid;
      border-radius: 10px;
    }

    .title {
      font-weight: bold;
      margin-top: 10px;
    }
  }
}