<div class="main-container">
  <div class="sidebar-icon">
    <button mat-mini-fab color="primary" aria-label="Open Sidebar" (click)="toggleSidebar()">
      <mat-icon *ngIf="sidebarOpened === false; else closeIcon">menu</mat-icon>
      <ng-template #closeIcon>
        <mat-icon>close</mat-icon>
      </ng-template>
    </button>
  </div>
  <div class="sidebar-container" #sidebarContainer>
    <!-- <app-sidebar (linkClick)="toggleSidebar()"></app-sidebar> -->
  </div>
  <div class="right-container">
    <div class="route-container" [@routeAnimations]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
    <div class="buttons-container">
      <app-buttons-row></app-buttons-row>
    </div>
  </div>
</div>