<div class="photo-row">
    <div class="photo">
        <img src="https://image.freepik.com/free-vector/businessman-character-avatar-isolated_24877-60111.jpg">
    </div>
</div>

<h1 class="name">Giacomo Pignoni</h1>
<label class="role">Developer</label>

<div class="menu">
    <a class="menu-link" aria-label="Home" routerLink="/home" (click)="onLinkClicked()">Home</a>
    <a class="menu-link" aria-label="About Me" routerLink="/about-me" (click)="onLinkClicked()">About Me</a>
    <a class="menu-link" aria-label="Resume" routerLink="/resume" (click)="onLinkClicked()">Resume</a>
    <a class="menu-link" aria-label="Portfolio" routerLink="/portfolio" (click)="onLinkClicked()">Portfolio</a>
    <a class="menu-link" aria-label="Contact" routerLink="/contact" (click)="onLinkClicked()">Contact</a>
</div>

<div class="links-row">
    <a class="link">
        <img src="assets/svg/github-icon.svg">
    </a>
    <a class="link">
        <img src="assets/svg/linkedin-icon.svg">
    </a>
</div>