<div class="photo-row">
    <div class="photo">
        <img src="assets/images/photo.jpg">
    </div>
</div>

<h1 class="name">Giacomo Pignoni</h1>
<label class="role">Developer</label>

<div class="menu">
    <a class="menu-link" aria-label="Home" routerLink="/home" (click)="onLinkClicked()">Home</a>
    <a class="menu-link" aria-label="About Me" routerLink="/about-me" (click)="onLinkClicked()">About Me</a>
    <a class="menu-link" aria-label="Resume" routerLink="/resume" (click)="onLinkClicked()">Resume</a>
    <a class="menu-link" aria-label="Portfolio" routerLink="/portfolio" (click)="onLinkClicked()">Portfolio</a>
    <a class="menu-link" aria-label="Contact" routerLink="/contact" (click)="onLinkClicked()">Contact</a>
</div>

<div class="links-row">
    <a class="link" href="https://github.com/GiacomoPignoni" target="_blank" aria-label="Github">
        <img src="assets/svg/github-icon.svg" alt="Github Icon">
    </a>
    <a class="link" href="https://www.linkedin.com/in/giacomo-pignoni-447429107/" target="_blank" aria-label="Linkedin">
        <img src="assets/svg/linkedin-icon.svg" alt="Linkedin Icon">
    </a>
</div>