*, *::before, *::after {
  box-sizing: content-box;
}

html, body {
  margin: 0;
  width:  100%;
  height: 100%;
  overflow: hidden;
}

body {
  transition: all 500ms ease;
  background: var(--background-color);

  font-family: 'Montserrat', sans-serif;
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold;
}

.primary-color {
  background-color: #f3ec78;
  background-image:  linear-gradient(-5deg, var(--secondary-color) 0%, var(--primary-color) 100%);
  background-size: 100%;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.row {
  --bs-gutter-x: 0rem;
}

.route-container {
  h2 {
    font-size: 35px; 
    margin-bottom: 20px;
  }
 
  h4 {
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 10px;
  } 

  h5 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  p {
    font-size: 0.95em;
  }
}