<h2>About <span class="primary-color">Me</span></h2>
<div class="row">
  <div class="col-sm-5 col-xs-12">
    <ul>
      <li>
        <label>Age</label> <span>25</span>
      </li>
      <li>
        <label>Coutry</label> <span>Italy</span>
      </li>
      <li>
        <label>Email</label> <span>giacomo.pignoni@gmail.com</span>
      </li>
      <li>
        <label>Telephone</label> <span>+39 347 9163412</span>
      </li>
    </ul>
  </div>
  <div class="col-sm-7 col-xs-12 text">
    <p>
      Hi I’m Giacomo a Full Stack Developer since 2017.<br>
      I mainly work with Angular for web app developement and Flutter for Mobile app development.<br>
      But I also know some other technologies like .NET, NodeJS and Firebase.<br>
      You can find some of my works in the <a routerLink="/portfolio">portfolio</a> page, unfortunaly I can’t show all the apps i created for my main job.<br>
      <br>
      In this moment I’m on focus with Flutter animations.
    </p>
  </div>
</div>

<h4>What <span class="primary-color">I Do</span></h4>
<div class="row">
  <div class="col-sm-6 col-xs-12">
    <div class="do-icon">
      <img src="assets/svg/smartphone-icon.svg" >
    </div>
    <h5>App Development</h5>
    <p class="do-text">
      I can develop a cross platform app using Flutter, so it will be compatible both with Android and iOS.<br>
      App made with Flutter can have performace very similar to native app, with the advance of a unique base code.<br>
      Flutter also provide a very good and smooth animations, so the app will not look boring and static.
    </p>
  </div>
  <div class="col-sm-6 col-xs-12">
    <div class="do-icon">
      <img src="assets/svg/pc-icon.svg" >
    </div>
    <h5>Web Development</h5>
    <p class="do-text">
      I can develope web application with Angular, I fill very expert with this framework because I use it since 2017 and I done a very big applications with this technology.<br>
      Web application made with Angular can be very fast and performant.<br>
    </p>
  </div>
</div>