ul {
    padding: 0;

   li {
       list-style-type: none;
       margin: 10px 0;

       label {
           color: var(--primary-color);
           font-weight: bold;
           margin-right: 10px;
       }
   }
}

.text {
   text-align: justify;
}

.do-icon {
   margin-bottom: 10px;

   img {
       width: 50px;
   }
}

.do-text {
   text-align: justify;
   font-size: 0.95em;
   padding-right: 40px;
}