<h2>About <span class="primary-color">Me</span></h2>
<div class="row">
  <div class="col-sm-5 col-xs-12">
    <ul>
      <li>
        <label>Age</label> <span>25</span>
      </li>
      <li>
        <label>Coutry</label> <span>Italy</span>
      </li>
      <li>
        <label>Email</label> <span>giacomo.pignoni@gmail.com</span>
      </li>
      <li>
        <label>Telephone</label> <span>+39 347 9163412</span>
      </li>
    </ul>
  </div>
  <div class="col-sm-7 col-xs-12 text">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec eros enim. In eget faucibus ligula, sed
      ultricies urna. Praesent tincidunt lectus est, nec dictum orci tempor in. Sed venenatis, purus ac vulputate
      pulvinar, sapien ipsum ultrices tellus, id facilisis tortor dolor et justo. Maecenas magna purus, accumsan nec
      tempus ac, suscipit eget nulla. Quisque mauris turpis, ultricies sit amet fermentum sed, fringilla vel dolor.
      Nullam fringilla ex ut odio semper, nec finibus lacus bibendum.
    </p>
  </div>
</div>

<h4>What <span class="primary-color">I Do</span></h4>
<div class="row">
  <div class="col-sm-6 col-xs-12">
    <div class="do-icon">
      <img src="assets/svg/smartphone-icon.svg" >
    </div>
    <h5>App Development</h5>
    <p class="do-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec eros enim. In eget faucibus ligula, sed
      ultricies urna. Praesent tincidunt lectus est, nec dictum orci tempor in.
    </p>
  </div>
  <div class="col-sm-6 col-xs-12">
    <div class="do-icon">
      <img src="assets/svg/pc-icon.svg" >
    </div>
    <h5>Web Development</h5>
    <p class="do-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec eros enim. In eget faucibus ligula, sed
      ultricies urna. Praesent tincidunt lectus est, nec dictum orci tempor in.
    </p>
  </div>
</div>